<h1>Login in or Sign Up</h1>
<p>Find me in app/views/user/login.html.erb</p>

<%= form_for @user, :url => { :controller => "user", :action => "new" }, :html => {:class => "new_form"} do |f| %>
 
  <%= f.text_field :user_name %>

  <%= f.submit "Create" %>
<% end %>


